html {
  background-color: #000;
  background-size: auto!important;
  background-attachment: scroll!important;
  height: 100%;
}

a {
  border: 0;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  color: #FFBF46;
}

*,article,h1,nav,section {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  font-family: Montserrat,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  min-height: 650px;
}

@font-face {
  font-family:caslon_antiquebold;src:url(caslonab-webfont.eot);src:url(caslonab-webfontd41d.eot?#iefix) format('embedded-opentype'),url(caslonab-webfont.woff) format('woff'),url(caslonab-webfont.ttf) format('truetype'),url(caslonab-webfont.svg#caslon_antiquebold) format('svg');font-weight:400;font-style:normal;
}

@font-face {
  font-family:caslon_antiqueregular;src:url(caslonan-webfont.eot);src:url(caslonan-webfontd41d.eot?#iefix) format('embedded-opentype'),url(caslonan-webfont.woff) format('woff'),url(caslonan-webfont.ttf) format('truetype'),url(caslonan-webfont.svg#caslon_antiqueregular) format('svg');font-weight:400;font-style:normal;
}

@font-face {
  font-family:optimusprincepssemiboldRg;src:url(optimusprincepssemibold-webfont.eot);src:url(optimusprincepssemibold-webfontd41d.eot?#iefix) format('embedded-opentype'),url(optimusprincepssemibold-webfont.woff) format('woff'),url(optimusprincepssemibold-webfont.ttf) format('truetype'),url(optimusprincepssemibold-webfont.svg#optimusprincepssemiboldRg) format('svg');font-weight:400;font-style:normal;
}

@font-face {
  font-family:bebas_neueregular;src:url(bebasneue-webfont.eot);src:url(bebasneue-webfontd41d.eot?#iefix) format('embedded-opentype'),url(bebasneue-webfont.woff) format('woff'),url(bebasneue-webfont.ttf) format('truetype'),url(bebasneue-webfont.svg#bebas_neueregular) format('svg');font-weight:400;font-style:normal;
}

.landing {
  opacity: 0;
}

.delhi_section {
  width: 100%;
  overflow: hidden;
  height: 100%;
  background-color: #000;
  position: relative;
  z-index: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.logo {
  width: 80%;
  max-width: 960px;
  margin: auto;
  margin-top: 10%;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.author {
  width: 520px;
  padding-top: 60px;
  margin: auto;
}

.author_name {
  font-family: caslon_antiqueregular;
  color: #fcd78e;
  font-size: 45px;
  float: left;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.author_line {
  width: 80px;
  height: 1px;
  float: left;
  background-color: #8B7353;
  margin-top: 30px;
}

.dive_history {
  position: absolute;
  bottom: 54px;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 22px;
  font-family: Montserrat,sans-serif;
}

.landing_arrow {
  background-image: url(../img/delhi_sprite.png);
  width: 22px;
  height: 26px;
  margin: auto;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -11px;
  -webkit-animation: landing_arrow_anim 1s infinite;
  -moz-animation: landing_arrow_anim 1s infinite;
  -o-animation: landing_arrow_anim 1s infinite;
  animation: landing_arrow_anim 1s infinite;
  cursor: pointer;
}

@-webkit-keyframes landing_arrow_anim {
  0% {
    bottom: 12px;
  }

  50% {
    bottom: 23px;
  }

  100% {
    bottom: 12px;
  }
}

@-moz-keyframes landing_arrow_anim {
  0% {
    bottom: 12px;
  }

  50% {
    bottom: 23px;
  }

  100% {
    bottom: 12px;
  }
}

@-o-keyframes landing_arrow_anim {
  0% {
    bottom: 12px;
  }

  50% {
    bottom: 23px;
  }

  100% {
    bottom: 12px;
  }
}

@keyframes landing_arrow_anim {
  0% {
    bottom: 12px;
  }

  50% {
    bottom: 23px;
  }

  100% {
    bottom: 12px;
  }
}

@media (max-height:850px) and (min-width:1400px) {
  .logo {
    margin-top: 4%;
  }
}

@media (max-height:700px) and (min-width:1200px) and (max-width:1400px) {
  .logo {
    margin-top: 5%;
  }
}

@media (max-height:700px) and (min-width:700px) and (max-width:1200px) {
  .logo {
    margin-top: 8%;
  }
}

@media (max-height:700px) {
  .logo {
    max-width: 700px;
  }

  .author {
    padding-top: 20px;
  }
}

@media (min-width:1440px) and (max-width:1999px) {
  .landing {
    background-image: url(../images/landing/redfort_night%402x.jpg);
    background-position: 50% 65%;
    max-height: 1125px;
  }
}

@media (max-width:1439px) {
  .landing {
    background-image: url(../images/landing/redfort_night.jpg);
    background-position: 50% 65%;
    max-height: 844px;
  }

  .logo {
    max-width: 700px;
  }

  .author {
    width: 410px;
    padding-top: 35px;
  }

  .author_name {
    font-size: 35px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .author_line {
    width: 60px;
    margin-top: 22px;
  }
}

@media (min-width:2000px) {
  .landing {
    background-image: url(../images/landing/redfort_night%403x.jpg);
    background-position: 50% 65%;
    max-height: 1440px;
  }
}

@media (max-width:500px) {
  .author_name {
    font-size: 27px;
  }

  .opl_photo {
    display: none;
  }

  .author {
    width: 295px;
  }

  .logo {
    margin-top: 20%;
  }

  .author_line {
    width: 30px;
    margin-top: 17px;
  }
}

nav {
  width: 100%;
  height: 63px;
  background-color: #000;
  position: relative;
}

nav.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav h1 {
  color: #fff;
  font-family: optimusprincepssemiboldRg;
  font-size: 31px;
  overflow: hidden;
}

.logo_auth_name {
  float: left;
  line-height: 69px;
  color: #fcd78e;
  font-size: 19px;
  margin-left: 10px;
  font-family: caslon_antiqueregular;
}

.share {
  background-color: #000;
  color: #7c6c58;
  text-transform: uppercase;
  right: 30px;
  position: absolute;
  text-align: right;
  z-index: 2;
  top: 0;
}

.share_icon {
  background-color: #817061;
  background-image: url(../img/delhi_sprite.png);
  width: 20px;
  height: 20px;
  background-position: -2px -244px;
  float: left;
  margin-top: 6px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.share_icon.hover {
  background-color: #d3bda2;
}

.share_text {
  font-family: bebas_neueregular;
  font-size: 16px;
  letter-spacing: .5px;
  color: #817061;
  line-height: 33px;
  height: 33px;
  width: 60px;
  margin-top: 16px;
  right: 0;
  position: absolute;
  text-align: right;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
}

.share_text.hover {
  color: #d3bda2;
}

@media (max-width:550px) {
  .share {
    display: none;
  }
}

.share_box {
  opacity: 0;
  width: 158px;
  top: 272px;
  height: 0;
  overflow: hidden;
  right: 0;
  background-color: rgba(0,0,0,.9);
  position: absolute;
  bottom: 80px;
  z-index: 1;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.contact_info ul,.share_box ul {
  width: 100%;
  list-style: none;
  float: left;
  height: 80px;
}

.share_box .part {
  float: left;
  width: 100%;
  height: 1px;
  background-color: #2f2f2f;
}

.contact_info ul li,.share_box ul li {
  width: 25%;
  height: 80px;
  float: left;
}

.share_box ul li .facebook {
  background-color: #307387;
  background-image: url(../img/delhi_sprite.png);
  background-position: 0 -274px;
}

.share_box ul li .facebook:hover {
  background-color: #4896ab;
}

.share_box ul li .twitter {
  background-color: #8fcabb;
  background-image: url(../img/delhi_sprite.png);
  background-position: 0 -391px;
}

.share_box ul li .twitter:hover {
  background-color: #97e1ce;
}

.share_box ul li .gplus:hover {
  background-color: #d0543c;
}

.share_box ul li .mail:hover {
  background-color: #e4f758;
}

.share_box ul li .gplus {
  background-color: #cc3d21;
  background-image: url(../img/delhi_sprite.png);
  background-position: -2px -319px;
}

.share_box ul li .mail {
  background-color: #e6f38d;
  background-image: url(../img/delhi_sprite.png);
  background-position: 0 -355px;
}

.share_kink {
  background-image: url(../img/delhi_sprite.png);
  background-position: -15px -450px;
  width: 20px;
  height: 11px;
  position: absolute;
  right: 10px;
  top: -11px;
}

.social_cont {
  width: 100%;
  max-width: 50px;
  height: 100%;
  max-height: 50px;
  background-color: #123;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin: auto;
  position: relative;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.share_box .social_cont {
  opacity: .7;
}

.social_cont:hover {
  opacity: 1;
}

.share_box.clicked {
  width: 268px;
  top: 75px;
  height: 136px;
  opacity: 1;
  overflow: visible;
}

.share_msg {
  width: 268px;
  padding-top: 17px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  float: left;
  text-transform: uppercase;
}

.logo_name {
  line-height: 66px;
  float: left;
  padding-left: 30px;
}

.intro {
  z-index: 1;
}

.intro_para {
  width: 100%;
  max-width: 730px;
  margin: auto;
  height: 400px;
  top: 50%;
  position: relative;
  margin-top: -200px;
}

.intro_para h1 {
  color: #3d3630;
  font-size: 64px;
  text-align: center;
  font-family: bebas_neueregular;
  font-weight: 100;
  letter-spacing: 1px;
}

.intro_para p {
  font-size: 16px;
  color: #362f2d;
  text-align: center;
  font-family: Verdana,Geneva,sans-serif;
  margin-top: 30px;
}

.intro_para h2 {
  color: #3d3630;
  font-size: 20px;
  text-align: center;
  font-family: bebas_neueregular;
  font-weight: 100;
  letter-spacing: 1px;
  margin-top: 30px;
}

.intro_controls {
  background-image: url(../img/delhi_controls.png);
  width: 245px;
  height: 122px;
  margin: auto;
  margin-top: 15px;
  left: -30px;
  position: relative;
}

@media (min-width:2000px) {
  .intro {
    background-image: url(../images/info/delhi_city%403x.jpg);
    background-position: 50% 65%;
    max-height: 1440px;
  }
}

@media (min-width:1440px) and (max-width:1999px) {
  .intro {
    background-image: url(../images/info/delhi_city%402x.jpg);
    background-position: 50% 65%;
    max-height: 1306px;
  }
}

@media (max-width:1439px) {
  .intro {
    background-image: url(../images/info/delhi_city.jpg);
    background-position: 50% 100%;
    max-height: 844px;
  }
}

@media (max-width:500px) {
  .intro_para {
    margin-top: -280px;
  }

  .intro_para h1 {
    padding: 4px;
    font-size: 40px;
  }

  .intro_para p {
    font-size: 13px;
    padding: 4px;
  }
}

.header_banner {
  position: relative;
  height: 42px;
  background-color: #033;
  width: 100%;
  z-index: 500;
}

.header_banner.fixed {
  position: fixed;
  left: 0;
  top: 63px;
  width: 100%;
}

.header_strip {
  width: 100%;
  height: 10px;
  z-index: 500;
}

.header_strip_1 {
  background-color: #40075A;
}

.header_strip_2 {
  background-color: #390547;
  height: 22px;
}

.header_strip_3 {
  background-color: #390547;
}

.header_banner_name {
  position: absolute;
  top: 9px;
  padding-left: 30px;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .5px;
}

.header_year {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 0;
}

.header_explore {
  position: absolute;
  top: 12px;
  right: 10px;
  text-transform: uppercase;
  color: #fff;
  line-height: 20px;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0px;
  cursor: pointer;
}

.explore_icon {
  float: left;
  margin-right: 9px;
  background-image: url(../img/delhi_sprite.png);
  width: 20px;
  height: 20px;
  background-position: -12px -129px;
}

.plus_photo {
  position: relative;
  width: 41px;
  height: 41px;
  left: 50%;
  top: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-image: url(../img/delhi_sprite.png);
  background-position: -2px -33px;
  border: 2px #fff solid;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: background-color .2s ease-in-out,left 1s ease-in-out,opacity .8s ease-in-out;
  -moz-transition: background-color .2s ease-in-out,left 1s ease-in-out,opacity .8s ease-in-out;
  transition: background-color .2s ease-in-out,left 1s ease-in-out,opacity .8s ease-in-out;
  -ms-transition: background-color .2s ease-in-out,left 1s ease-in-out,opacity .8s ease-in-out;
  -o-transition: background-color .2s ease-in-out,left 1s ease-in-out,opacity .8s ease-in-out;
  z-index: 700;
}

.plus_photo:hover {
  background-position: -2px -79px;
  background-color: #fff;
}

.plus_photo.transform {
  left: 110%;
  transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}

.section_rule {
  z-index: 1;
  cursor: url(../img/cursor.cur),default!important;
  background-image: url(../img/cursor.cur);
}

@media (min-width:2000px) {
  .section-1 {
    background-image: url(../images/tomaras/tomaras%403x.jpg);
    background-position: 50% 5%;
    max-height: 1440px;
  }

  .section-2 {
    background-image: url(../images/chauhans/chauhans%403x.jpg);
    background-position: 50% 5%;
    max-height: 1440px;
  }

  .section-3 {
    background-image: url(../images/mamluks/mamluk%403x.jpg);
    background-position: 50% 5%;
    max-height: 1440px;
  }

  .section-4 {
    background-image: url(../images/khilji/khilji%403x.jpg);
    background-position: 50% 5%;
    max-height: 1440px;
  }

  .section-5 {
    background-image: url(../images/tughlaq/tughlaq%403x.jpg);
    background-position: 50% 5%;
    max-height: 1440px;
  }

  .section-6 {
    background-image: url(../images/sayiadd/sayiadd%403x.jpg);
    background-position: 50% 5%;
    max-height: 1440px;
  }

  .section-7 {
    background-image: url(../images/lodi/lodi%403x.jpg);
    background-position: 50% 5%;
    max-height: 1440px;
  }

  .section-8 {
    background-image: url(../images/mughal-1/mughal-1%403x.jpg);
    background-position: 50% 5%;
    max-height: 1440px;
  }

  .section-9 {
    background-image: url(../images/suri/suri%403x.jpg);
    background-position: 50% 5%;
    max-height: 1440px;
  }

  .section-10 {
    background-image: url(../images/mughal-2/mughal-2%403x.jpg);
    background-position: 50% 5%;
    max-height: 1440px;
  }

  .section-11 {
    background-image: url(../images/british/british%403x.jpg);
    background-position: 50% 5%;
    max-height: 1440px;
  }

  .section-12 {
    background-image: url(../images/c12/c12_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-13 {
    background-image: url(../images/c13/c13_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-14 {
    background-image: url(../images/c14/c14_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-15 {
    background-image: url(../images/c15/c15_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }
  .section-contact {
    background-image: url(../images/contact/contact%403x.jpg);
    background-position: 50% 5%;
    max-height: 1440px;
    min-height: 1050px;
  }
}

@media (min-width:1440px) and (max-width:1999px) {
  .section-1 {
    background-image: url(../images/tomaras/tomaras%402x.jpg);
    background-position: 50% 0;
    max-height: 1320px;
  }

  .section-2 {
    background-image: url(../images/chauhans/chauhans%402x.jpg);
    background-position: 50% 0;
    max-height: 1320px;
  }

  .section-3 {
    background-image: url(../images/mamluks/mamluk%402x.jpg);
    background-position: 50% 0;
    max-height: 1320px;
  }

  .section-4 {
    background-image: url(../images/khilji/khilji%402x.jpg);
    background-position: 50% 0;
    max-height: 1320px;
  }

  .section-5 {
    background-image: url(../images/tughlaq/tughlaq%402x.jpg);
    background-position: 50% 0;
    max-height: 1320px;
  }

  .section-6 {
    background-image: url(../images/sayiadd/sayiadd%402x.jpg);
    background-position: 50% 0;
    max-height: 1320px;
  }

  .section-7 {
    background-image: url(../images/lodi/lodi%402x.jpg);
    background-position: 50% 0;
    max-height: 1320px;
  }

  .section-8 {
    background-image: url(../images/mughal-1/mughal-1%402x.jpg);
    background-position: 50% 0;
    max-height: 1320px;
  }

  .section-9 {
    background-image: url(../images/suri/suri%402x.jpg);
    background-position: 50% 0;
    max-height: 1320px;
  }

  .section-10 {
    background-image: url(../images/mughal-2/mughal-2%402x.jpg);
    background-position: 50% 0;
    max-height: 1320px;
  }

  .section-11 {
    background-image: url(../images/british/british%402x.jpg);
    background-position: 50% 0;
    max-height: 1320px;
  }

  .section-12 {
    background-image: url(../images/c12/c12_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-13 {
    background-image: url(../images/c13/c13_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-14 {
    background-image: url(../images/c14/c14_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-15 {
    background-image: url(../images/c15/c15_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-contact {
    background-image: url(../images/contact/contact%402x.jpg);
    background-position: 50% 0;
    max-height: 1320px;
    min-height: 900px;
  }
}

@media (max-width:1439px) {
  .section-1 {
    background-image: url(../images/tomaras/tomaras.jpg);
    background-position: 50% 0;
    max-height: 844px;
  }

  .section-2 {
    background-image: url(../images/chauhans/chauhans.jpg);
    background-position: 50% 0;
    max-height: 844px;
  }

  .section-3 {
    background-image: url(../images/mamluks/mamluk.jpg);
    background-position: 50% 0;
    max-height: 844px;
  }

  .section-4 {
    background-image: url(../images/khilji/khilji.jpg);
    background-position: 50% 0;
    max-height: 844px;
  }

  .section-5 {
    background-image: url(../images/tughlaq/tughlaq.jpg);
    background-position: 50% 0;
    max-height: 844px;
  }

  .section-6 {
    background-image: url(../images/sayiadd/sayiadd.jpg);
    background-position: 50% 0;
    max-height: 844px;
  }

  .section-7 {
    background-image: url(../images/lodi/lodi.jpg);
    background-position: 50% 0;
    max-height: 844px;
  }

  .section-8 {
    background-image: url(../images/mughal-1/mughal-1.jpg);
    background-position: 50% 0;
    max-height: 844px;
  }

  .section-9 {
    background-image: url(../images/suri/suri.jpg);
    background-position: 50% 0;
    max-height: 844px;
  }

  .section-10 {
    background-image: url(../images/mughal-2/mughal-2.jpg);
    background-position: 50% 0;
    max-height: 844px;
  }

  .section-11 {
    background-image: url(../images/british/british.jpg);
    background-position: 50% 0;
    max-height: 844px;
  }

  .section-12 {
    background-image: url(../images/c12/c12_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-13 {
    background-image: url(../images/c13/c13_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-14 {
    background-image: url(../images/c14/c14_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-15 {
    background-image: url(../images/c15/c15_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }
  .section-contact {
    background-image: url(../images/contact/contact.jpg);
    background-position: 24% 0;
    max-height: 844px;
    min-height: 750px;
  }
}

@media (max-width:800px) and (min-height:800px) {
  .section-1 {
    background-image: url(../images/tomaras/tomaras_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-2 {
    background-image: url(../images/chauhans/chauhans_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-3 {
    background-image: url(../images/mamluks/mamluk_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-4 {
    background-image: url(../images/khilji/khilji_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-5 {
    background-image: url(../images/tughlaq/tughlaq_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-6 {
    background-image: url(../images/sayiadd/sayiadd_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-7 {
    background-image: url(../images/lodi/lodi_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-8 {
    background-image: url(../images/mughal-1/mughal-1_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-9 {
    background-image: url(../images/suri/suri_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-10 {
    background-image: url(../images/mughal-2/mughal-2_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-11 {
    background-image: url(../images/british/british_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-12 {
    background-image: url(../images/c12/c12_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-13 {
    background-image: url(../images/c13/c13_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-14 {
    background-image: url(../images/c14/c14_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }

  .section-15 {
    background-image: url(../images/c15/c15_tab.jpg);
    background-position: 50% 0;
    max-height: 1280px;
  }


  .section-contact {
    background-image: url(../images/contact/contact_tab.jpg);
    background-position: 50% 5%;
    max-height: 1280px;
  }
}

@media (max-width:500px) {
  nav h1 {
    text-align: center;
  }

  .logo_name {
    float: none;
    padding-left: 0;
    font-size: 20px;
  }

  .logo_auth_name {
    font-size: 14px;
    float: none;
    margin-left: 0;
  }

  .header_explore {
    right: 10px;
    font-size: 0;
  }

  .header_banner_name {
    top: 11px;
    font-size: 16px;
  }

  .header_year {
    font-size: 12px;
  }

  .explore_icon {
    margin-right: 0;
  }
}

.nav_mobile {
  width: 140px;
  padding-top: 10px;
  background-color: rgba(29,23,7,.95);
  height: 100%;
  position: fixed;
  z-index: 1499;
  top: 105px;
  left: -140px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  display: none;
  cursor: pointer;
}

.nav_mobile.bigscreen {
  display: none;
}

.nav_mobile_symbol {
  color: #fff;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-image: url(../images/time_mob.jpg);
  background-repeat: no-repeat;
  position: absolute;
  right: -50px;
  top: 0;
}

.nav_mobile ul {
  line-height: 30px;
  list-style: none;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
  color: #cbb190;
}

.nav_mobile li {
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  text-align: center;
}

.nav_mobile li:hover {
  color: #fff;
}

.timeline {
  background-color: rgba(0,0,0,.85);
  width: 100%;
  height: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  position: fixed;
  bottom: 0;
  z-index: 500;
  color: #fff;
  -moz-box-shadow: 0 0 4px 1px #000;
  -webkit-box-shadow: 0 0 4px 1px #000;
  box-shadow: 0 0 4px 1px #000;
}

.timeline_pointer {
  width: 218px;
  height: 102px;
  background-color: rgba(0,0,0,.9);
  position: absolute;
  bottom: 80px;
  z-index: 1;
  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
  -ms-transition: left .5s ease-in-out;
  -o-transition: left .5s ease-in-out;
  left: 0;
  display: none;
  -moz-box-shadow: 0 0 4px 1px #000;
  -webkit-box-shadow: 0 0 4px 1px #000;
  box-shadow: 0 0 4px 1px #000;
}

.pointer_thumb {
  width: 92px;
  height: 86px;
  padding: 8px;
  float: left;
}

.pointer_info {
  width: 108px;
  float: left;
  text-align: center;
  margin-top: 10px;
  font-size: 10px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.pointer_info h1 {
  font-size: 14px;
}

.timeline_pointer .kink {
  background-position: -3px -220px;
  background-image: url(../img/delhi_sprite.png);
  width: 19px;
  height: 12px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -10px;
  opacity: 1;
}

.timeline .time_content {
  padding-left: 50px;
  padding-right: 50px;
  height: 60px;
  margin-top: 4px;
  line-height: 19px;
}

.timeline_scroll {
  width: 100%;
  height: 4px;
  top: 0;
  position: absolute;
  background-color: #51443d;
}

.timeline_bar {
  width: 100%;
  height: 9px;
  background-color: #fff;
  list-style-type: none;
  cursor: pointer;
  float: left;
}

.timeline_bar li {
  float: left;
  height: 100%;
  width: 10px;
  border-left: 1px solid #000;
  -webkit-transition: background-color .4s ease-in-out;
  -moz-transition: background-color .4s ease-in-out;
  transition: background-color .4s ease-in-out;
  -ms-transition: background-color .4s ease-in-out;
  -o-transition: background-color .4s ease-in-out;
}

.dynasty_bar {
  width: 100%;
  height: 21px;
  float: left;
  line-height: 22px;
  list-style-type: none;
}

.dynasty_bar li {
  float: left;
  height: 100%;
  width: 10px;
  text-align: center;
  font-size: 11px;
  color: #cbb190;
  text-transform: uppercase;
}

.bar_bar {
  background-image: url(../img/bar.png);
  height: 4px;
  width: 100%;
  float: left;
  margin-top: 8px;
  margin-left: -20px;
}

.year_bar {
  height: 18px;
  float: left;
  width: 100%;
  text-align: left;
  list-style-type: none;
  color: #7d756d;
  font-size: 10px;
  font-weight: 700;
  margin-left: -20px;
}

.year_bar li {
  width: 7.692%;
  float: left;
  margin-left: -3px;
}

.year_bar li.next_last {
  width: auto;
  margin-left: 0;
}

.year_bar li.last {
  float: right;
  width: auto;
  margin-right: 10px;
}

.trans {
  -webkit-transition: height .4s ease-in-out,bottom .4s ease-in-out;
  -moz-transition: height .4s ease-in-out,bottom .4s ease-in-out;
  transition: height .4s ease-in-out,bottom .4s ease-in-out;
  -ms-transition: height .4s ease-in-out,bottom .4s ease-in-out;
  -o-transition: height .4s ease-in-out,bottom .4s ease-in-out;
}

.timeline_scroll_overlay {
  height: 100%;
  position: absolute;
  background-color: #d3bda2;
  -webkit-transition: width .4s ease-in-out,bottom .4s ease-in-out;
  -moz-transition: width .4s ease-in-out,bottom .4s ease-in-out;
  transition: width .4s ease-in-out,bottom .4s ease-in-out;
  -ms-transition: width .4s ease-in-out,bottom .4s ease-in-out;
  -o-transition: width .4s ease-in-out,bottom .4s ease-in-out;
}

footer {
  background-color: #000;
  width: 100%;
  height: 0;
  position: fixed;
  bottom: 0;
  z-index: 500;
  color: #fff;
}

.footer_text {
  font-size: 14px;
  color: #fcd78e;
  padding-left: 30px;
  margin-top: 6px;
  letter-spacing: .2px;
  float: left;
}

.footer_fb {
  float: left;
  margin-left: 20px;
  margin-top: 5px;
  width: 100px;
}

.lightbox_bg {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 105px;
  left: 0;
  pointer-events: none;
  z-index: 600;
  background-color: rgba(0,0,0,0);
  -webkit-transition: background-color 1s ease-in-out;
  -moz-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
  -ms-transition: background-color 1s ease-in-out;
  -o-transition: background-color 1s ease-in-out;
  overflow-y: hidden;
}

.disclaimer {
  float: right;
  font-size: 12px;
  color: #A59A86;
  padding-right: 30px;
  cursor: pointer;
}

.disclaimer:hover {
  text-decoration: underline;
}

.disclaimer_window {
  position: fixed;
  width: 300px;
  padding: 10px;
  height: auto;
  top: 50%;
  left: 50%;
  background-color: rgba(0,0,0,.9);
  z-index: 1000;
  margin-left: -160px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: -50px;
  display: none;
}

.disclaimer_window,.disclaimer_window a {
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 17px;
  font-family: Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
}

.disclaimer_close {
  width: 20px;
  height: 20px;
  position: absolute;
  line-height: 20px;
  font-size: 14px;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border: 1px solid #fff;
}

.disclaimer_close:hover {
  color: #fcd78e;
  border: 1px solid #fcd78e;
}

.disclaimer_window a {
  font-weight: 700;
  text-decoration: underline;
}

.lightbox_bg.show {
  width: 100%;
  background-color: rgba(0,0,0,.75);
}

.info_lightbox {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 105px;
  left: 0;
  z-index: 600;
  overflow-y: hidden;
  pointer-events: none;
}

.info_lightbox.show {
  pointer-events: all;
  overflow-y: scroll;
}

.lightbox_content {
  background-color: #200434 !important; 
  height: auto;
  min-height: 1050px;
  position: absolute;
  left: -1500px;
  top: 0;
  opacity: 1;
  width: 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  max-width: 960px;
}

.lightbox_content .container {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 50px;
}

.thumb_list {
  list-style: none;
}

.lightbox_content.show {
  left: 0;
}

.info_cover {
  background-color: #fff;
  width: 20%;
  height: auto;
  overflow-y: hidden;
  min-height: 200px;
  position: relative;
  margin: 30px 0 0 30px;
  padding: 10px;
  float: left;
  overflow: hidden;
  display: none;
}

.info_cover_captial_ruler {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.info_cover img {
  width: 100%;
}

.info_cover_pic {
  width: 100%;
  max-height: 256px;
  height: auto;
/* overflow-x:hidden */
  overflow-y: hidden;
}

.info_cover_text {
  height: auto;
  min-height: 100px;
/* border:solid 1px #d3bda2; */
  margin-top: 10px;
  padding: 10px;
}

.info_cover_captial {
  font-size: 16px;
  color: #3d3630;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.info_cover_captial_name h1 {
  font-size: 25px;
  color: #b1855a;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-top: 5px;
  width: 100%;
  padding-left: 0;
}

.info_cover_captial_ruler h1 {
  font-size: 18px;
  color: #b1855a;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0;
  margin-top: 3px;
  padding: 9px;
  padding-left: 10px;
}

.info_cover_captial_ruler h1:nth-child(even) {
  background-color: rgba(203,177,144,.2);
}

.info_cover_divide {
  width: 24px;
  height: 3px;
  background-color: #b1855a;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info_cover_captial_ruler h1.extra_mughal {
  display: none;
}

.info_cover_captial_ruler h1.mughal_more {
  text-align: center;
  background-color: rgba(203,177,144,.2);
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  padding: 10px;
  font-size: 15px;
  text-transform: none;
}

.info_cover_captial_ruler h1.mughal_more:hover {
  color: #fff;
  background-color: #cbb190;
}

.ruler_date {
  font-weight: 100;
  font-size: 16px;
  margin-left: 5px;
}

.info_history {
  background-color: #fff;
  width: 70%;
  height: auto;
  min-height: 200px;
  position: relative;
  float: left;
  top: 30px;
  right: -20px;
  padding: 10px;
  display: none;
}

.info_history_para {
  width: auto;
/* border:solid 1px #d3bda2; */
  height: auto;
  min-height: 100px;
  padding: 15px;
  font-family: Verdana,Geneva,sans-serif;
  color: #3d3630;
}

.info_history_para p {
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  text-align: justify;
  line-height: 20px;
  margin-top: 5px;
}

.info_history_para h2 {
  color: #ae6926;
  letter-spacing: 1px;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}

.back_timeline {
  width: 167px;
  height: 45px;
  background-color: #000;
  position: fixed;
  left: -500px;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  z-index: 100;
}

.back_timeline.open {
  left: 86%;
}

.back_timeline .close {
  margin-left: 8px;
  font-weight: 100;
  color: #d3bda2;
  font-size: 16px;
}

#map-canvas {
  width: 100%;
  height: 264px;
}

.info_slide_wrapper {
  margin-left: 30px;
  float: left;
  margin-top: 50px;
  width: 878px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 30px;
}

.slide_controls {
  padding-bottom: 10px;
  width: 100%;
  height: 42px;
}

.slide_btn {
  background-color: #fff;
  height: 42px;
  width: 42px;
  border: solid 1px #d3bda2;
  cursor: pointer;
  background-image: url(../img/delhi_sprite.png);
}

.slide_prev {
  float: right;
  margin-right: -1px;
  background-position: 10px -148px;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.slide_next {
  float: right;
  background-position: 10px -149px;
}

.slide_play {
  float: left;
  background-position: 10px -176px;
}

.slide_play.paused {
  background-position: 10px 102px;
}

.slide_serial {
  color: #463f39;
  font-size: 22px;
  float: left;
  font-family: bebas_neueregular;
  margin-left: 10px;
  line-height: 42px;
}

.slider_heading {
  color: #3d3630;
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
  text-transform: uppercase;
}

.slider_info {
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: 100;
  text-align: justify;
  line-height: 20px;
  font-family: Verdana,Geneva,sans-serif;
  color: #3d3630;
}

.slider_info p {
  overflow-y: hidden;
  height: 165px;
  margin-top: 10px;
}

.info_source {
  font-family: Montserrat,sans-serif;
  color: #b1855a;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}



.contact_info ul li {
  width: 20%;
}

.author_pic {
  width: 400px;
  height: 400px;
  float: left;
}

.contact_name {
  color: #171845;
  font-weight: 700;
  padding: 10px;
  font-size: 24px;
  padding-bottom: 0;
  text-transform: uppercase;
  float: left;
}

.contact_info {
  padding-top: 0;
  float: left;
}

.contact_info p {
  padding: 10px;
  padding-bottom: 20px;
  text-align: justify;
}

.contact_info ul {
  background-color: #000;
}

.contact_container .social_cont {
  background-color: #463f39;
}

.contact_container .social_cont:hover {
  background-color: #9a8872;
}

.contact_info ul li .facebook {
  background-image: url(../img/delhi_sprite.png);
  background-position: 0 -274px;
}

.contact_info ul li .twitter {
  background-image: url(../img/delhi_sprite.png);
  background-position: 0 -391px;
}

.contact_info ul li .gplus {
  background-image: url(../img/delhi_sprite.png);
  background-position: -2px -319px;
}

.contact_info ul li .pinterest {
  background-image: url(../img/delhi_sprite.png);
  background-position: -1px -525px;
}

.contact_info ul li .mail {
  background-image: url(../img/delhi_sprite.png);
  background-position: 0 -476px;
}

.rg-image-wrapper p {
  font-size: 14px;
  font-weight: 100;
  text-align: justify;
  line-height: 20px;
  font-family: Verdana,Geneva,sans-serif;
  color: #3d3630;
  padding-bottom: 10px;
}

@media (min-width:2000px) {
  .author_pic,.contact_container {
    width: 500px;
    font-size: 24px;
  }

  .contact_container {
    top: 10%;
  }

  .author_pic {
    height: 500px;
  }

  .contact_name {
    font-size: 30px;
  }

  .contact_info ul,.contact_info ul li {
    height: 100px;
  }

  .contact_container .social_cont {
    max-width: 60px;
    max-height: 60px;
    margin-top: -30px;
  }

  .contact_info ul li .facebook {
    background-position: 4px -271px;
  }

  .contact_info ul li .twitter {
    background-position: 5px -388px;
  }

  .contact_info ul li .gplus {
    background-position: 4px -313px;
  }

  .contact_info ul li .pinterest {
    background-position: 4px -520px;
  }

  .contact_info ul li .mail {
    background-position: 5px -472px;
  }
}

@media (max-width:1439px) {
  .author_pic,.contact_container {
    width: 320px;
    font-size: 17px;
  }

  .contact_container {
    top: 10%;
  }

  .author_pic {
    height: 320px;
  }

  .contact_name {
    font-size: 20px;
  }

  .contact_info ul {
    height: 60px;
  }

  .contact_info p {
    padding-bottom: 10px;
    padding-top: 2px;
  }

  .contact_info ul li {
    height: 60px;
  }

  .contact_container .social_cont {
    max-width: 40px;
    max-height: 40px;
    margin-top: -20px;
    background-size: 90%;
  }

  .contact_info ul li .facebook {
    background-position: 2px -200px;
  }

  .contact_info ul li .twitter {
    background-position: 2px -286px;
  }

  .contact_info ul li .gplus {
    background-position: 2px -233px;
  }

  .contact_info ul li .pinterest {
    background-position: 1px -383px;
  }

  .contact_info ul li .mail {
    background-position: 2px -347px;
  }
}

@media (max-width:400px) {
  .contact_container {
    left: 50%;
    right: inherit;
    margin-left: -160px;
  }

  .footer_text {
    font-size: 12px;
    padding-left: 10px;
  }

  .disclaimer {
    margin-right: -20px;
  }

  .disclaimer_window {
    width: 250px;
    margin-left: -135px;
  }

  .footer_fb {
    margin-left: 10px;
  }
}

@media (min-width:2000px) {
  .lightbox_content {
    min-width: 960px;
  }
}

@media (min-width:1215px) and (max-width:2000px) {
  .lightbox_content {
    max-width: 100%;
  }
}

@media (max-width:1214px) and (min-width:961px) {
  .lightbox_content {
    width: 80%;
    max-width: 960px;
  }

  .info_cover,.info_history {
    width: 45%;
  }
}

@media (min-width:501px) and (max-width:960px) {
  .lightbox_content {
    width: 80%;
    max-width: 960px;
    overflow-x: hidden;
  }
}

@media (max-width:500px) {
  .lightbox_content {
    width: 100%;
    max-width: 960px;
    overflow-x: hidden;
  }

  .info_cover_captial_name h1 {
    font-size: 20px;
  }

  .info_cover_captial {
    font-size: 13px;
  }

  .info_cover_captial_ruler h1 {
    font-size: 15px;
  }

  .info_history_para h2 {
    font-size: 20px;
  }

  .info_cover,.info_history {
    width: 90%;
  }

  .ruler_date {
    font-size: 12px;
  }
}

@media (max-width:960px) {
  .lightbox_content {
    min-height: 1100px;
  }

  .info_cover {
    width: 90%;
    max-width: 486px;
    top: 30px;
    float: none;
    margin: auto;
  }

  .info_history {
    width: 90%;
    max-width: 486px;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    float: none;
    right: 0;
  }

  .info_slide_wrapper,.timeline {
    display: none;
  }

  .nav_mobile.bigscreen {
    display: block;
  }
}

@media (min-width:1000px) and (max-width:1200px) {
  .back_timeline.open {
    left: 100%;
    margin-left: -183px;
  }
}

@media (min-width:800px) and (max-width:999px) {
  .back_timeline {
    font-size: 11px;
    width: 142px;
  }

  .back_timeline.open {
    left: 100%;
    margin-left: -156px;
  }

  .back_timeline .close {
    font-size: 14px;
  }
}

@media (max-width:799px) {
  .back_timeline {
    font-size: 0;
    width: 42px;
  }

  .back_timeline.open {
    left: 100%;
    margin-left: -67px;
  }

  .back_timeline .close {
    margin-left: 0;
    font-size: 24px;
  }
}
